body
{
	background-color:black;
	background-image:url('../resources/images/seg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	padding:1em;
	margin:4em;
}
th
{
	background-color:red;
	color:white;
}
td
{
	background-color:white;
}
h1
{
	color:white;
	background-color:red;
}
a
{
	color:red;
}

.left
{
	float:left;
}
